div.MzTreeView{
	position:relative;
	width:1000px;
	top:50px;
	left:50px;
}
A.MzTreeview
{
  font-size: 12pt;
  color:black;
  padding-left: 3px;
}
#list{
	position:relative;
}
#list li{
	float:left;
}
#list #list_0{
	width:328px;
}
#list #list_1{
	width:100px;
	font-size:14px;
}
#list #list_2{
	width:100px;
	font-size:14px;
}
#list #list_3{
	width:100px;
	font-size:14px;
}
#list #list_4{
	width:200px;
	font-size:14px;
}
#list #list_5{
	background-color:#3399FF;
	text-shadow:0px 1px 0px rgba(0, 0, 0, 0.2);
	border-right:1px solid #eeeeee;
	text-align:center;
	width:120px;
}
#list #list_5 a{
	color:#FFF;
	font-size:14px;
}
#list #list_6{
	background-color:#3399FF;
	border-left:1px solid #eeeeee;
	text-align:center;
	width:50px;
}
#list #list_6 a{
	color:#FFF;
	font-size:14px;
}
DIV.MzTreeView DIV ul li IMG,DIV.MzTreeView DIV SPAN IMG{border: 0px solid #FFFFFF;}